ion-toolbar {
    --background: #9dd8f3;
    --color: #0009FF;
}
ion-content {
    --background: #bfe3f4;
}
ion-item {
    --background: #bfe3f4;
}
ion-list-header {
    --background: #bfe3f4;
}
.list-md {
    background: #bfe3f4;
}