<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      Nuevo vídeo
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="crearPost()" [disabled]="post.mensaje.length < 1" color="primary">
        Subir
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Mensaje</ion-label>
      <ion-textarea [(ngModel)]="post.mensaje"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-row>
    <ion-col>
      <ion-button expand="full" shape="round" (click)="library()">
        <ion-icon slot="start" name="folder-outline"></ion-icon>
        Galería
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col *ngFor="let video of TempVideos">
      <img [src]="video | videoSanitizer" />
    </ion-col>
  </ion-row>
</ion-content>