<div class="post">
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="/assets/avatars/{{post.usuario.avatar}}"/>
    </ion-avatar>
    <ion-label>
      <h3>{{post.usuario.nombre}}</h3>
    </ion-label>
  </ion-item>

  <ion-item lines="none">
    <video id='video' controls="controls" preload='none' width="100%" height="auto" poster="../../../assets/black.png">
      <source id='mp4' src="http://proyecto-daw-woad.vercel.app/posts/video/{{post.usuario._id}}/{{post.vids}}" type='video/mp4' />
      <p>Your user agent does not support the HTML5 Video element.</p>
    </video>
  </ion-item>

  <ion-item lines="none">
    <ion-label text-wrap>
      {{post.mensaje}}
    </ion-label>
  </ion-item>
</div>