<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="videocam-outline"></ion-icon>
    </ion-buttons>
    <ion-title>
      ClipDiving
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <!-- Actualizar -->

  <!-- Posts -->
  <app-posts [posts]="posts"></app-posts>

  <!-- Scroll -->
  <ion-infinite-scroll threshold="150`px" position="bottom" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más vídeos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
